.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
}

.rightSpan {
    float: right;
}